/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   color: #d0d2e0;
   font-family: 'Open Sans Condensed', sans-serif;
 }
  .mega-dropdown {
    position: static !important;
  }


 /* ===== navbar ===== */

 .navbar {
   background-color: rgba(41, 43, 55, 0.9);
   border: none;
   color: #d0d2e0;
   font-size: 18px;
 }

 .navbar-toggle {
   background-color: #531019;
 }

 .nav-list > li {
   padding: 15px;
   border-left: 1px solid #eee;
 }

 .nav-list > li:last-child {
   border-right: 1px solid #eee;
 }

 .mega-dropdown {
   position: static !important;
 }

 .mega-dropdown-menu {
   padding: 15px;
   width: 100%;
 }

 /* --- form --- */

 #btn-search {
   background-color: #531019;
   color: white;
 }

 header img {
   width: 100%;
 }

 /* ===== modal ===== */

 .modal-content {
   margin: auto;
   width: 60%;
   margin-top: 50px;
   border-radius: 0px;
   border: 3px solid #531019;
   text-align: left;
   font-family: 'Open Sans Condensed', sans-serif;
   color: black
 }

 .modal-content h4 {
   font-size: 2em;
   text-align: center;
 }

 .form {
   margin-top: 20px;
   margin-left: 15px;
   margin-right: 0px;
 }

.form-main {
  width: 50%;
  float: left;
}

 .clearfix {
   padding-top: 20px;
   text-align: center;
   margin-bottom: 20px;
 }

 .clearfix .btn-primary {
   background-color: #531019;
   border: none;
 }

 .clearfix p {
   padding-top: 10px;
   font-size: 8px;
   color: #606269;
   text-align: center;
 }

 .clearfix a{
   text-decoration: none;
   color: #606269;
   text-decoration: underline;
 }

/* ===== footer ===== */

footer {
  border-top: 1px solid white;
  background-color: #292b37;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer .container {
  width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer a {
  color: #606269;
}

footer a:hover {
  text-decoration: none;
  color: #d0d2e0;
}

.top {
  border-bottom: 1px solid #606269;
}

.right {
  text-align: right;
  margin-top: 20px;
}

.social li {
  display: inline !important;
}

.copyright {
  padding-top: 10px;
  font-size: 12px;
}

.copyright p span {
  font-size: 10px;
  color: #606269;
}

/* ====== order pages =====*/

.product {
  margin-top: 80px;
}

.checkout-box {
  width: 80%;
  margin-left: 20px;
  margin-bottom: 50px;
}

.checkout {
  margin-bottom: 10px;
  background-color: rgba(96, 98, 105, 0.2);
  border-bottom: 1px solid #606269;
}

.btn-secondary {
  background-color: #531019;
}

.order {
  color: #606269;
  margin-bottom: 20px;
  margin-top: 20px;

}
