/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 body {
   color: #d0d2e0;
   font-family: 'Open Sans Condensed', sans-serif;
 }
 .mega-dropdown {
   position: static !important;
 }


 /* ===== navbar ===== */

 .navbar {
   background-color: rgba(41, 43, 55, 0.7);
   border: none;
 }

 .dropdown-menu {
   background-color: rgba(41, 43, 55, 0.5);
   border-radius: 0px;
   border: none
 }

.bar {
  margin: 0 10px;
}

#myNavbar li a {
   color: white;
   font-size: 14px;
 }

 #myNavbar li a:hover {
    background-color: #531019 ;
    font-size: 14px;
  }

  .navbar-default .navbar-toggle {
   border: none;
   border-radius: 0;
   background: #531019;
 }
 .navbar-toggle:hover{
   border-radius: 0px;
 }
 .navbar-default .navbar-toggle .icon-bar {
   background-color: white;
 }


 /* --- form --- */

 #btn-search {
   background-color: #531019;
   color: white;
 }

 header img {
   width: 100%;
 }

 /* ===== footer ===== */

 footer {
   border-top: 1px solid white;
   background-color: #292b37;
   font-family: 'Open Sans Condensed', sans-serif;
 }

 footer ul {
   list-style-type: none;
   padding-left: 0px;
 }

 footer .container {
   width: 80%;
   padding-bottom: 20px;
   padding-top: 20px;
 }

 footer a {
   color: #606269;
 }

 footer a:hover {
   text-decoration: none;
   color: #d0d2e0;
 }

 .top {
   border-bottom: 1px solid #606269;
 }

 .right {
   text-align: right;
   margin-top: 20px;
 }

 .social li {
   display: inline !important;
 }

 .copyright {
   padding-top: 10px;
   font-size: 12px;
 }

 .copyright p span {
   font-size: 10px;
   color: #606269;
 }

 /* ====== order pages =====*/

 .product {
   margin-top: 80px;
 }

 .checkout-box {
   width: 80%;
   margin-left: 20px;
   margin-bottom: 50px;
 }

 .checkout {
   margin-bottom: 10px;
   background-color: rgba(96, 98, 105, 0.2);
   border-bottom: 1px solid #606269;
 }

 .btn-secondary {
   background-color: #531019;
 }

 .order {
   color: #606269;
   margin-bottom: 20px;
   margin-top: 20px;
 }


 /* ============= */
 /* === ALERT === */
 /* ============= */

#alert{
  margin-top: 60px;
 }

 .notice,
 .alert {
   padding: 5px;
 }
