@import "font-awesome";

/* ==== main page ==== */

.products {
  margin-top: 60px;
}

.products-info{
  margin-top: 10px;
  margin-bottom: 10px;
  .card {
    text-align: center;
    overflow: hidden;

    margin-bottom: 10px;
    .card-topper {
      margin-bottom: 10px;
      overflow: hidden;
      height: 350px;
      transform: scale(.8);

      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .card-topper:hover {
      transform: scale(1);
    }
    .card-block {
      .card-title {
        font-size: 14px;
      }
      .card-text{
        color: #8e969c;
        font-size: 10px;
      }
      .card-details{
        font-size: 10px;
        text-align: left;
      }
      .btn {
        float: left;
        margin: 2px;
        padding: 3px;
        font-size: 8px;
        background-color: #dfd9da;
        color: white;
        border-radius: 1px;
        border-bottom: 1px solid #751925;
      }
      .btn:hover {
        background-color: #751925;
      }
    }/*card-block*/
  }
}

/* === Editing product ====*/

.products-links {
  .main {
    form {
      margin-top: 180px;
      padding: 10px;
      text-align: left;
      .form-main{
        margin: auto;
        width: 80%;
        .form-group{
          input,
          textarea {
            border-radius: 0;
            border: none;
            outline: none;
            box-shadow: 0 0 5px #d0d2e0;
          }
        }
      }
      .btn{
        background-color: #292b37;
        border: none;
        transition: .8s;
      }
      .btn:hover {
        background-color: #d0d2e0;
      }
    }
  }
  .options {
    float: right;
  }
}

/* ==== Show === */
#show {
  margin: 80px 20px;
  .product-show-img {
    box-shadow: 2px 2px 2px #d0d2e0;
  }
  .info {
    p {
      color: #8e969c;
      text-align: justify;
      span {
        color: #606269;
      }
    }
    .product-header {
      p {
        color: #606269;
      }
    }

    //paybutton
    .pay{
      font-size: 11px;
      float: right;
      line-height: 1.6;
      padding: 10px 20px;
      color: white;;
      border-radius: 5px;
      transition: 1s;
    }
    .pay:hover{
      background-color: #d0d2e0;
      box-shadow: 0px 0px 10px #606269;
    }
    .pay:focus{
      outline: none;
    }
  }

  .options {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #d0d2e0;
  }
}

.success {
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 20px;
  .btn {
    margin-top: 20px;
    line-height: 1.6;
    color: #292b37;
    border: 2px solid #d0d2e0;
    border-radius: 10px;
    transition: .8s;
  }
  .btn:hover{
    background-color: #d0d2e0;
    box-shadow: 0px 0px 10px #606269;
  }
}
