
h1 {
  margin-top: 80px;
  float: right;
  border-bottom: 1px solid #292b37;
}

.for-sale {
  position: relative;
  margin-top: 180px;
}

.options {
  float: right;
}


/* ===== products btn ====== */
.btn-products {
  background-color: #531019;
  color: white;
  border-radius: 1px;
  border: #751925;
}
.btn-products:hover {
  background-color: #751925;
  color: white;
}


/* ==== show ====*/
#show {
  margin-top: 80px;
  margin-left: 20px;
}

.info p{
  color: black;
  text-align: justify;
}


/* ==== email ====*/
.login-page  {
  border-radius: 10px;
  width: 50%;
  margin: auto;
  h2 {
    float: right;
    border-bottom: 1px solid #531019;
    margin: 20px;
  }
  .field, .actions {
    margin: auto;
    padding: 10px;
  }
  .btn{
    background-color: #531019;
  }
  .btn:hover{
    background-color: #751925;
    color: white;
  }
  .btn:active{
    outline: none !important;
    box-shadow: none;
  }
  .shared-link {
    padding: 10px;
  }
}
