
h1 {
  margin-top: 80px;
  float: right;
  border-bottom: 1px solid #292b37;
}

.for-sale {
  position: relative;
  margin-top: 180px;
}

.options {
  float: right;
}


/* ===== products btn ====== */
.btn-products {
  background-color: #531019;
  color: white;
  border-radius: 1px;
  border: #751925;
}
.btn-products:hover {
  background-color: #751925;
  color: white;
}


/* ==== show ====*/
#show {
  margin-top: 80px;
  margin-left: 20px;
}

.info p{
  color: black;
  text-align: justify;
}


/* ==== email ====*/
.form-authentication {
  margin: auto;
  margin-bottom: 10px;
  width: 350px;
  background-color: rgba(41, 43, 55, 0.5);
  border-radius: 10px;
  height: 500px;
  .form-authentication-inner {
    padding: 0 50px;
    .form-heading {
      padding-top: 20px;
      margin-bottom: 40px;
      border-bottom: 1px solid white;
    }
    .input-group {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .remember{
      font-size: 12px;
    }
    .actions{
      margin-top: 40px;
      margin-bottom: 20px;
      .login-button {
        background-color: #531019;
        border: 1px solid white;
      }
      .login-button:hover {
        background-color: #d0d2e0;
      }
      .login-button:focus {
        outline: none;
      }
    }
  }
}

.actions-signup {
  margin-top: 40px;
  margin-bottom: 20px;
  .login-button {
    background-color: #531019;
    border: 1px solid white;
  }
  .login-button:hover {
    background-color: #d0d2e0;
  }
  .login-button:focus {
    outline: none;
  }
}

.reset {
  font-size: 12px;
}
.shared-link a {
  color: #d0d2e0;
}
