<div class="container products-links">

  <h1><i class="fa fa-fw fa-edit"></i>Edit Your Product</h1>

  <div class="main">
    <%= render 'form', product: @product %>
  </div>

  <div class="options">
    <%= link_to 'Show', @product, class: "btn btn-products" %>
    <%= link_to 'Back', products_path, class: "btn btn-products" %>
  </div>
</div
