<div class="container-fluid products">

  <p id="notice"><%= notice %></p>

  <h1>For Sale</h1>

  <div class="container-fluid for-sale">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

  <%= link_to 'New Product', new_product_path %>

</div>
