<div class="container products">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h1>For Sale</h1>
    <%= link_to 'New Product', new_product_path, class: "btn btn-products" %>
  </div>

  <div class="row">
    <div class="products-info">
      <% cache(cache_key_for_products) do %>
        <% @products.each do |product| %>
        <%= render partial: "product", locals: {product: product} %>
        <% end %>
      <%end%>
    </div>
  </div>

</div>

<div class="text-center">
  <%= will_paginate @products, inner_window: 1, outter_window: 0 %>
</div>
