<div class="container products">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h1>For Sale</h1>

    <%= link_to 'New Product', new_product_path, class: "btn btn-products" %>
  </div>

  <div class="row">
    <%= render @products%>
  </div>

  </div>

  <div class="text-center">
    <%= will_paginate @comments, inner_window: 1, outter_window: 0 %>
  </div>

</div>
